.vdom-select {
  position: relative;
  box-sizing: border-box;
}
.vdom-select * {
  box-sizing: border-box;
}
.vdom-select.is-disabled {
  opacity: .333;
}
.vdom-select .opener {
  cursor: pointer;
  width: 100%;
}

.option-selection-panel {
  overflow: hidden;
}
.vdom-select.is-open .option-selection-panel {
  max-height: 10.7em;
  overflow-y: auto
}

.vdom-select:focus {
  outline: none;
}
.vdom-select:focus .opener {
  outline: none;
  box-shadow: 0px 0px 1px 2px rgb(96, 172, 253);
  border: none;
}

.vdom-select .option.is-selected::before {
  content: "✔";
  padding-right: 0.5em;
}
